body{
  
background-image: url("agafuka.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
margin: 0;
}
form{
    background-color: white;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    height:500px;
}
button{
    background-color: rgba(45, 58, 202, 0.187);
    color: rgb(212, 53, 104);
    width: 80px;
    border-radius: 5px;
    border: none;
    height: 20px;
}
button:hover{
    background-color: blue;
    color: white;
    transition: 1s;
}
input:hover{
    background-color: rgb(226, 191, 220);
    color: rgb(6, 22, 24);
    border: none;
}
 input{
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    border: none;
    width: 100px;
 }