input{
    border: cyan;
    color: #000;
    padding: 19px;
    border-radius: 9px;

}
div{
    background-color: aquamarine;
   
    width: 250px;
    padding: 10px;
    text-decoration: none;

}
a{
    text-decoration: none;
}
body{
    background-image: url("5000.jpeg");
}